* {
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--section-bg-color);
}

:root {
  --section-bg-color: #99aed1;
}
/* --------- header styles --------- */
header {
  height: 100px;
  background-color: gray;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin-left: 50px;
}

.nav-list {
  margin-right: 50px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-list li {
  margin: 20px;
  cursor: pointer;
}

.navActive {
  font-weight: bold;
}
/* --------- main section styles --------- */
section {
  /* width: 100%; */
  padding: 20px 40px;
  margin: 0 auto;
  background-color: var(--section-bg-color);
}

section p {
  /* width: 95%; */
  margin: 12px auto;
  line-height: 1.4em;
}

p a {
  text-decoration: none;
  color: rgb(3, 8, 77);
}

p a:hover {
  text-shadow: 2px 2px 5px #d8caca;
}

.profile-photo {
  height: auto;
  max-width: 120px;
  border-radius: 50%;
  margin: 10px 0;
  border: 2px solid black;
  box-shadow: 15px 15px 40px 5px rgba(0, 0, 0, 0.6);
}

/* --------- portfolio section styles --------- */
#projectCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.projectCard {
  width: 400px;
  height: 250px;
  margin: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity .5s ease-in-out;
}

.projectCard .projectBackground {
  width: 100%;
  height: 100%;
  transition: opacity .75s ease-in-out;
  position: absolute;
}

.projectText {
  padding: 5px;
  position: absolute;
  opacity: 0;
  z-index: 50;
  transition: opacity .5s ease-in-out;
}

.projectLinks {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.projectLinks .projectLogo {
  height: 24px;
  margin: 2px 10px 0px;
}

.projectCard:hover .projectBackground {
  opacity: .2;
}
.projectCard:hover .projectText {
  opacity: 1;
}

.projectText p {
  margin: 0;
}

.projectText a {
  text-decoration: none;
  color: black;
}

/* --------- contact form styles --------- */
#contact-form {
  margin: 10px;
  width: 50%;
}

#contact-form label {
  display: block;
}

#contact-form input {
  width: 100%;
  height: 20px;
}

#contact-form textarea {
  width: 100%;
}

#contact-form button {
  margin: 8px 0px;
  padding: 0.35em 1.2em;
  border: 0.1em solid #000000;
  border-radius:0.12em;
  box-sizing: border-box;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.2s;
  background-color: var(--section-bg-color);
}

#contact-form button:hover {
  color:#000000;
  background-color:#FFFFFF;
}

.error-text {
  color: rgb(129, 0, 0);
  font-style: italic;
  margin: 4px 3px;
}
/* --------- end contact form styles --------- */

/* --------- resume styles --------- */

.resumeList {
  list-style-type: disc;
  list-style: inside;
  margin: 5px 5px 10px;
}
/* .App {
  text-align: center;
  border: 2px solid red;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  border: 2px solid pink;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border: 2px solid pink;
} */

/* .App-link {
  color: #61dafb;
} */

/* --------- footer styles --------- */
footer {
  width: 100%;
  height: 50px;
  background-color: var(--section-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#logos {
  height: 75%;
}

#logos img {
  height: 100%;
  background-color: none;
  opacity: .5;
  margin: 0px 8px;
  transition: opacity .40s ease-in-out;
}

#logos img:hover {
  opacity: 1;
}
